<app-banner 
    [bannerText]="'Healer Podcasts'" 
    [homeBanner]="false" 
    [imgSection]="false"
></app-banner>

<app-cards-section [heading]="'Latest Podcast'" [cardsData]="cardsData"></app-cards-section>

<div class="section-container section-with-image-container section-with-image-container-style-2">
    <div class="inner-container section-content section-with-image-content">
        <div class="left-section">
            <h2>Connect to Your Audience</h2>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry 
                orem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown. Lorem Ipsum is simply dummy text of the printing and 
                typesetting industry orem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown.Ipsum has been the industry's 
                standard dummy text ever since the 1500s, when an unknown.
            </p>
        </div>

        <div class="right-section">
            <img src="./images/love-beam-img.png" alt="">
        </div>
    </div>
</div>

<app-cards-section [heading]="'All Podcasts'" [cardsData]="cardsData"></app-cards-section>