<div class="section-container">
    <div class="inner-container section-content">
        <div class="heading">
            <h2>How to Heal Yourself; The Healing Archive/KB</h2>
        </div>

        <ul class="tag-list">
            <li><a href="#">Healing with Meditation</a></li>
            <li><a href="#">Healing with Mindfulness</a></li>
            <li><a href="#">Healing with Yoga</a></li>
            <li><a href="#">Healing with Nutrition</a></li>
            <li><a href="#">Healing with Crystals</a></li>
            <li><a href="#">Healing with Nature</a></li>
            <li><a href="#">Healing with Music</a></li>
            <li><a href="#">Healing with Art</a></li>
            <li><a href="#">Healing with People</a></li>
            <li><a href="#">Healing with Animals</a></li>
            <li><a href="#">Healing with Technology</a></li>
            <li><a href="#">Healing with Chanting/Singing</a></li>
            <li><a href="#">Healing with Massage</a></li>
            <li><a href="#">Healing with Aromatherapy</a></li>
            <li><a href="#">Healing with Tai Chi</a></li>
            <li><a href="#">Healing with Qi Gong</a></li>
            <li><a href="#">Healing with Herbs</a></li>
            <li><a href="#">Healing with Suplements</a></li>
        </ul>
    </div>
</div>