<div class="banner-container">
    <div class="inner-container banner-content">
        <div class="left-section">
            <h2>
                <span>Our Minds can create</span> 
                prisons or paradise, scarcity or abundance
            </h2>

            <a href="#" class="custom-btn">
                See all Healers
            </a>
        </div>

        <div class="right-section">
            <div class="img-content">
                <img src="assets/images/banner-right-img.png" alt="">
            </div>
        </div>
    </div>
</div>