<div class="banner-container" [ngClass]="{'banner-container-style-2': !homeBanner}">
    <div class="inner-container banner-content">
        <div class="left-section">
            <ng-container *ngIf="homeBanner">
                <h2>
                    <span>Our Minds can create</span> 
                    prisons or paradise, scarcity or abundance
                </h2>

                <a href="#" class="custom-btn">
                    See all Healers
                </a>
            </ng-container>

            <ng-container *ngIf="!homeBanner">
                <h2>{{ bannerText }}</h2>
            </ng-container>
        </div>

        <ng-container *ngIf="imgSection">
            <div class="right-section">
                <div class="img-content">
                    <img src="assets/images/banner-right-img.png" alt="">
                </div>
            </div>
        </ng-container>
    </div>
</div>