<app-banner 
    [bannerText]="'Videos'" 
    [homeBanner]="false" 
    [imgSection]="false"
></app-banner>

<app-filter></app-filter>

<app-cards-section [heading]="heading" [cardsData]="cardsData"></app-cards-section>
<div class="section-container">
    <div class="inner-container section-content">
        <div class="heading">
            <h2 class="text-capitalize">OUR Sponsers</h2>
        </div>

        <ul class="icons-list">
            <li><img src="assets/images/icon-01.png" alt=""></li>
            <li><img src="assets/images/icon-02.png" alt=""></li>
            <li><img src="assets/images/icon-03.png" alt=""></li>
            <li><img src="assets/images/icon-04.png" alt=""></li>
            <li><img src="assets/images/icon-05.png" alt=""></li>
        </ul>
    </div>
</div>

<!-- <div class="section-container">
    <div class="inner-container section-content">
        <div class="heading">
            <h2 class="text-left">All Videos</h2>
        </div>

        <div class="cards-container">
            <div class="single-card">
                <div class="card-img">
                    <img src="assets/images/card-img.png" alt="">

                    <span class="play-btn">
                        <img src="assets/images/play-btn.png" alt="">
                    </span>
                </div>

                <div class="card-content">
                    <h2>Finding Moments Of Joy in a challenging Year</h2>

                    <span>FASHION, LIFESTYLE</span>
                </div>
            </div>

            <div class="single-card">
                <div class="card-img">
                    <img src="assets/images/card-img.png" alt="">

                    <span class="play-btn">
                        <img src="assets/images/play-btn.png" alt="">
                    </span>
                </div>

                <div class="card-content">
                    <h2>Finding Moments Of Joy in a challenging Year</h2>

                    <span>FASHION, LIFESTYLE</span>
                </div>
            </div>

            <div class="single-card">
                <div class="card-img">
                    <img src="assets/images/card-img.png" alt="">

                    <span class="play-btn">
                        <img src="assets/images/play-btn.png" alt="">
                    </span>
                </div>

                <div class="card-content">
                    <h2>Finding Moments Of Joy in a challenging Year</h2>

                    <span>FASHION, LIFESTYLE</span>
                </div>
            </div>
        </div>

        <a href="#" class="button colored-custom-btn custom-btn">
            Load more
        </a>
    </div>
</div> -->

<!-- <div class="section-container">
    <div class="inner-container section-content">
        <div class="heading">
            <h2 class="text-capitalize">OUR Sponsers</h2>
        </div>

        <ul class="icons-list">
            <li><img src="assets/images/icon-01.png" alt=""></li>
            <li><img src="assets/images/icon-02.png" alt=""></li>
            <li><img src="assets/images/icon-03.png" alt=""></li>
            <li><img src="assets/images/icon-04.png" alt=""></li>
            <li><img src="assets/images/icon-05.png" alt=""></li>
        </ul>
    </div>
</div> -->