<app-banner></app-banner>

<div class="section-container white-bg">
    <div class="inner-container section-content">
        <div class="heading">
            <h2 class="text-left">Latest Posts</h2>
        </div>

        <div class="cards-container-with-side-drawer">
            <div class="cards-container cards-container-col-2">
                <div class="single-card">
                    <div class="card-img">
                        <img src="assets/images/card-img.png" alt="">
                    </div>

                    <div class="card-content">
                        <h2>Finding Moments Of Joy in a challenging Year</h2>

                        <p>
                            Lorem Ipsum is simply dummy text of the industry's since the unknown.
                        </p>

                        <a href="#">Read More....</a>
                    </div>
                </div>

                <div class="single-card">
                    <div class="card-img">
                        <img src="assets/images/card-img.png" alt="">
                    </div>

                    <div class="card-content">
                        <h2>Finding Moments Of Joy in a challenging Year</h2>

                        <p>
                            Lorem Ipsum is simply dummy text of the industry's since the unknown.
                        </p>

                        <a href="#">Read More....</a>
                    </div>
                </div>

                <div class="single-card">
                    <div class="card-img">
                        <img src="assets/images/card-img.png" alt="">
                    </div>

                    <div class="card-content">
                        <h2>Finding Moments Of Joy in a challenging Year</h2>

                        <p>
                            Lorem Ipsum is simply dummy text of the industry's since the unknown.
                        </p>

                        <a href="#">Read More....</a>
                    </div>
                </div>

                <div class="single-card">
                    <div class="card-img">
                        <img src="assets/images/card-img.png" alt="">
                    </div>

                    <div class="card-content">
                        <h2>Finding Moments Of Joy in a challenging Year</h2>

                        <p>
                            Lorem Ipsum is simply dummy text of the industry's since the unknown.
                        </p>

                        <a href="#">Read More....</a>
                    </div>
                </div>
            </div>

            <div class="side-drawer">
                <div class="sd-box search-box">
                    <input type="search" placeholder="Search">

                    <span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M28.1333 28L19.7333 19.6C19.0667 20.1333 18.3 20.5556 17.4333 20.8667C16.5667 21.1778 15.6444 21.3333 14.6667 21.3333C12.2444 21.3333 10.1944 20.4944 8.51667 18.8167C6.83889 17.1389 6 15.0889 6 12.6667C6 10.2444 6.83889 8.19444 8.51667 6.51667C10.1944 4.83889 12.2444 4 14.6667 4C17.0889 4 19.1389 4.83889 20.8167 6.51667C22.4944 8.19444 23.3333 10.2444 23.3333 12.6667C23.3333 13.6444 23.1778 14.5667 22.8667 15.4333C22.5556 16.3 22.1333 17.0667 21.6 17.7333L30 26.1333L28.1333 28ZM14.6667 18.6667C16.3333 18.6667 17.75 18.0833 18.9167 16.9167C20.0833 15.75 20.6667 14.3333 20.6667 12.6667C20.6667 11 20.0833 9.58333 18.9167 8.41667C17.75 7.25 16.3333 6.66667 14.6667 6.66667C13 6.66667 11.5833 7.25 10.4167 8.41667C9.25 9.58333 8.66667 11 8.66667 12.6667C8.66667 14.3333 9.25 15.75 10.4167 16.9167C11.5833 18.0833 13 18.6667 14.6667 18.6667Z" fill="#6D3AD8"/>
                        </svg>                                            
                    </span>
                </div>

                <div class="sd-box sd-dropdown">
                    <select name="" id="">
                        <option value="">Healer</option>
                        <option value="">Healer 1</option>
                        <option value="">Healer 2</option>
                    </select>

                    <span>
                        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.5 7.75L0 0.25H15L7.5 7.75Z" fill="#6D3AD8"/>
                        </svg>                                                                                        
                    </span>
                </div>

                <div class="sd-box sd-cat-box">
                    <h2>Categories</h2>

                    <ul>
                        <li><a href="#">Healing with Meditation</a></li>
                        <li><a href="#">Healing with Mindfulness</a></li>
                        <li><a href="#">Healing with Yoga</a></li>
                        <li><a href="#">Healing with Nutrition</a></li>
                        <li><a href="#">Healing with Crystals</a></li>
                        <li><a href="#">Healing with Qi Gong</a></li>
                        <li><a href="#">Healing with Chanting/Singing</a></li>
                        <li><a href="#">Healing with Technology</a></li>
                        <li><a href="#">Healing with Herbs</a></li>
                        <li><a href="#">Healing with Massage</a></li>
                        <li><a href="#">Healing with Animals</a></li>
                        <li><a href="#">Healing with People</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>