<div class="section-container section-with-image-container white-bg">
    <div class="inner-container section-content section-with-image-content">
        <div class="left-section">
            <img src="assets/images/love-beam-img.png" alt="">
        </div>

        <div class="right-section">
            <h2>The Love Beam</h2>

            <p>
                The LOVE BEAM is a powerful way to channel the magical healing energy all the healers 
                (and people who do not even think they are a healer!) around the world to heal anyone, 
                any animal, nature and even stop wars! That is how POWERFUL we ALL are! It is time to unleash 
                the YOUR FULL potential and show the world how powerful we are when we work together!
            </p>

            <a href="#" class="colored-custom-btn custom-btn">
                <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28 7.75C28 16.5 15.0262 23.5825 14.4737 23.875C14.3281 23.9533 14.1654 23.9943 14 23.9943C13.8346 23.9943 13.6719 23.9533 13.5262 23.875C12.9738 23.5825 0 16.5 0 7.75C0.00231592 5.69528 0.819575 3.72539 2.27248 2.27248C3.72539 0.819575 5.69528 0.00231592 7.75 0C10.3313 0 12.5912 1.11 14 2.98625C15.4088 1.11 17.6688 0 20.25 0C22.3047 0.00231592 24.2746 0.819575 25.7275 2.27248C27.1804 3.72539 27.9977 5.69528 28 7.75Z" fill="white"/>
                </svg>
                                                
                Sent a Request
            </a>
        </div>
    </div>
</div>