<footer>
    <div class="inner-container">
        <div class="footer-content">
            <div class="footer-logo-content">
                <img src="./images/logo.png" class="logo" alt="">

                <p>
                    Lorem Ipsum is simply dummy text of the industry's since the unknown. 
                    Lorem Ipsum is simply dummy text of the industry.
                </p>
            </div>
            
            <div>
                <h2>Browse</h2>

                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Success Stories</a></li>
                </ul>
            </div>
            
            <div>
                <h2>Resource</h2>

                <ul>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Knowledge Base</a></li>
                </ul>
            </div>
            
            <div>
                <h2>Healer Page</h2>

                <ul>
                    <li><a href="#">Mindset</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">Tools</a></li>
                    <li><a href="#">Charity</a></li>
                </ul> 
            </div>
        </div>

        <div class="copyright-content">
            <p>© All right reserved 2024</p>

            <ul>
                <li><a href="#"><img src="assets/images/facebook.png" alt=""></a></li>
                <li><a href="#"><img src="assets/images/instagram.png" alt=""></a></li>
                <li><a href="#"><img src="assets/images/linkedin.png" alt=""></a></li>
                <li><a href="#"><img src="assets/images/twitter.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>